body {
  background-image: url('ps_neutral.png');
}

#header {
  margin-bottom: 10px;
}

.brush-color {
  width: 50px;
  height: 50px;
  background-color: aqua;
  margin: 0.8em 0;
}

.square {
  float: left;
  width: 20px;
  height: 20px;
  background: #E7E5DB;
  margin: 0px;
}

h1 {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  margin-bottom: 0.5em;
  font-family: 'Nixie One', sans-serif;
  font-size: 2em;
  color: orchid;
}

input[type="text"] {
  padding: 3px;
  height: 30px;
  width: 170px;
  margin-bottom: 0.3em;
  margin-right: 2%;
  border: 2px solid lightgray;
  outline: none;
  font-size: 1em;
}

button {
  padding: 2px;
  height: 40px;
  width: 100px;
  border: 2px solid lightgray;
  margin-right: 2%;
  color: gray;
  background-color: lavender;
  outline: 2px white;
  font-size: 1em;
}

button:hover {
  cursor: pointer;
  background-color: #aaaaee;
  border: 2px solid gray;
}

button:active {
  background-color: #aaaaee;
  border: 2px solid gray;
}

.controls {
  text-align: center;
}
